/* index.html
    PROG1800-22S-Sec3 - Assignment 2

    Dynamic website that collects information from a form to generate a receipt.

    Daniela Onici Student ID# 8754297, 2022.06.12: Created 
                                       2022.06.16: Finished */

body {
  background-image: url("/Users/danie/projects/website-form/assets/docs/background.jpg");
  background-size: cover;
  height: 700px;
  width: 1000px;
  margin:auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  color: white;
  margin: 30px;
  padding: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  padding: 20px;
}

label {
  padding-bottom: 5px;
}

input[type="text"] {
  float: right;
  border-radius: 5px;
}

input[type="submit"]{
  float: right;
  border-radius: 10px;
  width: 150px;
  height: 30px;
}

#boxes {
  display: grid;
  justify-content: center;
  grid-template-columns: 0fr 0fr;
  grid-gap: 650px;
  width: auto;
}

#boxForm {
  width: 500px;
  height: 500px;
  border: solid #F2CAB3;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  padding: 20px;
  padding-top: 40px;
  background-color: #F2DCDC;

}
#receipt {
  width: 500px;
  height: 500px;
  border: solid #F2CAB3;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  padding: 20px;
  background-color: #F2DCDC;
}

::placeholder{
  color: #A66556;
  opacity: 50%;
}

#titleReceipt{
  text-align: center;
  font-size: 30px;

}

#errorMessage {
  text-align: center;
  background-color: #F24452;
  color: white;
  font-size: 15px;
  border-radius: 20px;
}

